@media screen and (min-resolution: 2dppx) {
    body {
        -webkit-font-smoothing: antialiased;
    }
}

.app {
    font-size: 14px;
    padding: 0 20px;
}

.config {
    padding-top: 10px;
    height: 72px;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
}

.config > div {
    margin-left: 20px;
}

.preset {
    font-weight: normal;
}

.diff-input {
    margin-top: 72px;
}

.diff-input textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 10em;
    border: 1px solid #e1e1e1;
}

.diff-decoration {
    line-height: 2;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.diff-decoration-gutter {
    background-color: #deecfe;
    position: relative;
    cursor: pointer;
}

.diff-decoration-gutter:hover {
    background-color: #4677d2;
}

.diff-decoration-content {
    background-color: #f2f8ff;
    padding-left: .5em;
    color: #999;
}
